// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$normal-base-color:#f8f8f8;
$normal-main-color: #F0F0F0;
$normal-sub-color: #E5E5E5;

$dark-base-color: #070707;
$dark-main-color: #0F0F0F;
$dark-sub-color: #191919;

// cellのindex
$normal-td-cell-index-color: #313131;
$dark-td-cell-index-color: #CDCDCD;


$sub-base-page-color: #CC99FF;
$sub-base-Ui-color: #7014cc;
$dark-page-color: #141414;
$sub-dark-page-color: #008b8b;
$sub-dark-Ui-color: #00b9b9;
$dark-sideBar-color:#252525;
$normal-sidebar-color:#F0F0F0;


$font-size-ss: 0.9rem;
$font-size-s: 1.4562rem;
$font-size-m: 2.3561rem;
$font-size-l: 3.8121rem;

$Ui-height: 64px;